<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dapps </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dapps</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-item>
      <ion-icon name="search-outline"></ion-icon>
      <ion-input type="nameofurl" placeholder="Please enter website url" [(ngModel)]="nameofurl" ></ion-input>
      <ion-button (click)="uploadURL()" >Enter</ion-button>
    </ion-item>
   
    
  
    <ion-list>
      <ion-list-header> DApps list </ion-list-header>

      <ion-item type="nameofurl" (click)="dappURL('https://app.uniswap.org/#/swap')" >
        <ion-avatar slot="start">
          <img src="assets/images/dapps/uniswap.png" />
        </ion-avatar>
        <ion-label>
          <h2>Uniswap Exchange</h2>
          <h3>Uniswap is a finance protocol for exchanging cryptocurrencies</h3>
        </ion-label>
      </ion-item>

      <ion-item type="nameofurl" (onclick)= 'getURI($event)' (click)="dappURL('https://exchange.sushi.com/#/swap')" >
        <ion-avatar slot="start">
          <img src="assets/images/dapps/sushiswap.png" />
        </ion-avatar>
        <ion-label>
          <h2>SushiSwap</h2>
          <h3></h3>
        </ion-label>
      </ion-item>

      <ion-item type="nameofurl" (click)="dappURL('https://www.kyberswap.com/embed/swap/eth-knc')" >
        <ion-avatar slot="start">
          <img src="assets/images/dapps/kyberswap.png" />
        </ion-avatar>
        <ion-label>
          <h2>KyberSwap</h2>
          <h3></h3>
        </ion-label>
      </ion-item>

      <ion-item type="nameofurl" (click)="dappURL('https://exchange.pancakeswap.finance/#/swap')" >
        <ion-avatar slot="start">
          <img src="assets/images/dapps/pancakeswap.png" />
        </ion-avatar>
        <ion-label>
          <h2>PancakeSwap</h2>
          <h3></h3>
        </ion-label>
      </ion-item>
</ion-list>
    <!-- <ion-list>
      <ion-list-header> Online </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/dapps/avatar-poe.png" />
        </ion-avatar>
        <ion-label>
          <h2>Poe</h2>
          <h3>New Ride</h3>
          <p>I just upgraded my X-Wing. Next time...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/dapps/avatar-ben.png" />
        </ion-avatar>
        <ion-label>
          <h2>Ben</h2>
          <h3>Move Along</h3>
          <p>These aren't the droids you're looking for...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/dapps/avatar-leia.png" />
        </ion-avatar>
        <ion-label>
          <h2>Leia</h2>
          <h3>You're My Only Hope</h3>
          <p>I've placed information vital to the survival...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/dapps/avatar-yoda.png" />
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size matters not</h3>
          <p>Do or do not. There is no try...</p>
        </ion-label>
      </ion-item>
    </ion-list> -->
  </ion-content></ion-content
>
